* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #121212;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr;
    width: 30vw;
    height: 80vh;
    padding: 1rem;
    background-color: #1e1e1e;
    border: 1px solid silver;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    margin-top: 0;
    margin-bottom: .2rem;
    color: white;
}

#display {
    padding: 1rem;
    width: 100%;
    height: 55%;
    margin-bottom: .5rem;
    background-color: white;
    border: 1px solid black;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    border: 1px solid silver;
    cursor: pointer;
}

#zero-btn {
    grid-column: span 2;
}

#equal-btn {
    grid-row: span 2;
    background-color: #ff9500;
}

#equal-btn:hover {
    background-color: #e08500;
}

.clear-btn {
    background-color: #ff3b30;
}

.clear-btn:hover {
    background-color: #e0352b;
}

.operator-btn {
    background-color: #007aff;
}

.operator-btn:hover {
    background-color: #0069d1;
}